{% extends 'mailing/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Удалить клиента</h4>
                    </div>

                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Хотите удалить клиента "{{ object }}"?</p>
                            
                        </form>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'mailing:client' %}" class="btn btn-warning">Отмена</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock content %}