{% extends 'mailing/base.html' %}
{% load static %}
{% block content %}
  <div class="col-12">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ object.title }}</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            {% if object.preview != '' %}
              <img class="card-img-top" src="/media/{{ object.preview }}" alt="Card image cap" />
            {% endif %}

            <p>{{ object.body }}</p>
            <p>Дата публикации: {{ object.date_is_published }}</p>
          </ul>
          <div class="col-12">
            <div class="row">
              <div class="col-6 mt-3">
                <p>Просмотры: {{ object.views_count }}</p>
              </div>
              <div class="col-6 fmt-3">
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:article_list' %}">Назад к статьям</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
