{% extends 'mailing/base.html' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Почта</th>
        <th scope="col">Телефон</th>
        <th scope="col">Страна</th>
        <th scope="col">Роль</th>
        <th scope="col">Активность</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object }}</td>
          <td>{{ object.phone }}</td>
          <td>{{ object.country }}</td>
          {% if object.is_superuser %}
            <td>Администратор</td>
          {% elif object.is_staff %}
            <td>Менеджер</td>
          {% else %}
            <td>Пользователь</td>
          {% endif %}
          {% if perms.users.set_is_active and user.pk != object.pk %}
            {% if object.is_active %}
              <td>
                <a href="{% url 'users:toogle_activity'  object.pk %}" class="btn btn-warning">Деактивировать</a>
              </td>
            {% else %}
              <td>
                <a href="{% url 'users:toogle_activity' object.pk %}" class="btn btn-success">Активировать</a>
              </td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
