<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mailing:index' %}">FasterMailing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'mailing:index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'blog:article_list' %}" class="nav-link">Блог</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mailing:contacts' %}" class="nav-link">Контакты</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Возможности</a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'mailing:client' %}" class="dropdown-item">Клиенты</a>
              </li>
              <li>
                <a href="{% url 'mailing:mail' %}" class="dropdown-item">Сообщения для рассылки</a>
              </li>
              <li>
                <a href="{% url 'mailing:mailing_config' %}" class="dropdown-item">Рассылки</a>
              </li>
            </ul>
          </li>
        {% endif %}
      </ul>
      <div class="btn-group">
        {% if perms.users.set_is_active %}
          <a class="btn btn-outline-primary" href="{% url 'users:list_view' %}">Пользователи</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль пользователя</a>
          <a class="btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
          <a class="btn btn-dark" href="{% url 'users:login' %}">Войти</a>
          <a class="btn btn-primary" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
