<header class="py-2 bg-body-tertiary border-bottom navbar-dark bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand text-white" href="{% url 'mailing:index' %}">FasterMailing</a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'mailing:index' %}" class="nav-link px-2 text-white">Главная</a></li>
        <li><a href="{% url 'blog:article_list' %}" class="nav-link px-2 text-white">Блог</a></li>
        <li><a href="{% url 'mailing:contacts' %}" class="nav-link px-2 text-white">Контакты</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link px-2 text-white dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Возможности</a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'mailing:client' %}" class="dropdown-item">Клиенты</a>
            </li>
            <li>
              <a href="{% url 'mailing:mail' %}" class="dropdown-item">Сообщения для рассылки</a>
            </li>
            <li>
              <a href="{% url 'mailing:mailing_config' %}" class="dropdown-item">Рассылки</a>
            </li>
          </ul>
        </li>
      {% endif %}
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="btn-group">
        {% if perms.users.set_is_active %}
          <a class="p-2 btn btn-dark" href="{% url 'users:list_view' %}">Пользователи</a>
        {% endif %}

        {% if user.is_authenticated %}
          <a class="p-2 btn btn-dark" href="{% url 'users:profile' %}">Профиль</a>
          <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button class="p-2 btn btn-primary" type="submit">Выйти</button>
          </form>
        {% else %}
          <a class="p-2 btn btn-dark" href="{% url 'users:login' %}">Войти</a>
          <a class="p-2 btn btn-primary" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>